
app/.env
app/db.sqlite3
app/**/__pycache__/
*.pyc

db.sqlite3
billing_login.json
billing_login_response.json
billing_signup.json
billing_verify.json
login.json
login_response.json
refresh.json
resend.json
resend_billing.json
signup.json
verify.json
